.home-container{
    padding-bottom: 40%;
    background-image: url("../../../public/images/homebackground.jpg");
    object-fit: cover;
}
.home-title{
    position: absolute;
    width: 385px;
    height: 259px;
    left: 64px;
    top: 56px;
    margin-top:20px;
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 259px;
    color: #FFFFFF;
}
.home-desc{
    position: absolute;
    width: 500px;
    height: 93px;
    left: 64px;
    top: 250px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    padding-top: 100px;
    padding-bottom:30px;
    color: #EDEDED;
}

.buttons{
    display:flex;
}
.newscard-container{
    border-top:1px solid green;
    margin-top:-1px;
    padding-left: 1200px;
}
.newscard-items{
    display:flex;
    flex-direction:column;
}
/*styling of individual newscard*/
.newscard-title{
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 92.5%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin-bottom: -100px;
    margin-top:8px;
}
.newscard-duration{
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
    margin-top:100px;
    width:75%;
    margin-left:20px;
}
.newscard-wrapper{
    width: 240px;
    height: 300px;
    left: 616px;
    top: 56px;
    background: rgba(196, 196, 196, 0.271);
    backdrop-filter: blur(30px);
    margin-top:160px;
    margin-bottom:-100px;
}
/*button style*/
.button-design{
    width: 150px;
    height: 43px;
    left: 64px;
    top: 370px;
    background: #FFFFFF;
    border-radius: 30px;
    display:flex;
    padding-top: 20px;
    padding-left:20px;
    margin-left:50px;
}
.button-desc{
    padding-left:10px;
}
.button-design:hover{
    width: 150px;
    height: 43px;
    left: 64px;
    top: 370px;
    background: #FFFFFF;
    border-radius: 30px;
    display:flex;
    padding-top: 20px;
    padding-left:20px;
    margin-top: 450px;
    margin-left:50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px); 
}
.all-buttons{
    display:flex;
}

.button-design2{
    width: 150px;
    height: 43px;
    left: 64px;
    top: 370px;
    background: #FFFFFF;
    border-radius: 30px;
    display:flex;
    padding-top: 20px;
    padding-left:20px;
    margin-left:50px;
    margin-top:-220px;
}